@using System.IO
@model HomeArticleList
@{
    ViewData["Title"] = "首页";
}
<!--service-->
<div id="service">
    <div class="container">
        @*<div class="title">
                <h3>公司业务</h3>
                <p>Company business</p>
            </div>*@
        <ul class="clearfix">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Patent">
                    <img src="/images/ico_1.png" class="img-responsive aligncenter img1" />
                    <h3>专利服务</h3>
                    <i class="hidden-sm hidden-xs"></i>
                    <p class="description hidden-sm hidden-xs"><span>查看详情</span></p>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Trademark">
                    <img src="/images/ico_2.png" class="img-responsive aligncenter img2" />
                    <h3>商标版权</h3>
                    <i class="hidden-sm hidden-xs"></i>
                    <p class="description hidden-sm hidden-xs"><span>查看详情</span></p>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Qualification">
                    <img src="/images/ico_3.png" class="img-responsive aligncenter img3" />
                    <h3>资质认证</h3>
                    <i class="hidden-sm hidden-xs"></i>
                    <p class="description hidden-sm hidden-xs"><span>查看详情</span></p>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Consulting">
                    <img src="/images/ico_4.png" class="img-responsive aligncenter img4" />
                    <h3>科技咨询</h3>
                    <i class="hidden-sm hidden-xs"></i>
                    <p class="description hidden-sm hidden-xs"><span>查看详情</span></p>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Website">
                    <img src="/images/ico_5.png" class="img-responsive aligncenter img5" />
                    <h3>网站建设</h3>
                    <i class="hidden-sm hidden-xs"></i>
                    <p class="description hidden-sm hidden-xs"><span>查看详情</span></p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--/service-->
<!--intro-->
@*<div id="intro">
        <div class="container">
            <h2>公司简介</h2>
            <span>About Us</span>
            <div class="col-lg-1"></div>
            <div class="col-lg-3 col-md-3 text-center">
                <img src="~/images/intro_pic.jpg" alt="成都盈辉创动科技有限公司" style="border: solid 1px #fff;" />
            </div>
            <div class="col-lg-7 col-md-9">
                <p>成都盈辉创动科技有限公司面向全川范围内优质企业客户，专注于为企业提供关于项目申报规划、政府政策及资质 办理等咨询服务，致力于协助企业进行项目实施规划、资金申请和科技成果评价、高新技术企业认定及双软评估等资质认定工作。</p>
                <p>公司凭借优质的渠道资源和专业化、系统化的实效性服务，为企业提供优质的政策咨询、项目规划与管理服务， 水平领先行业。在多年的发展过程中积累了丰富的渠道资源，通过不断地提升与完善，现已在川内企业商务信息咨询 领域具有领先地位，已成为川内企业成长与发展过程中最好的合作伙伴。</p>
            </div>
            <div class="col-lg-1"></div>
            <div class="clearfix"></div>
            <a asp-area="" asp-controller="Home" asp-action="About" class="more wow" data-wow-delay=".5s" title="查看详情"></a>
        </div>
    </div>*@
<!--/intro-->
<!--news-->
<div id="news" class="container">
    <div id="news-title">
        <h3 class="fl">行业资讯</h3>
        <h4 class="fl">NEWS</h4>
        <a class="fr hidden-lg hidden-md" href="#">MORE</a>
    </div>
    <div class="clearfix"></div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#policy" data-toggle="tab" class="bold f16">
                政策信息
            </a>
        </li>
        <li>
            <a href="#notification" data-toggle="tab" class="bold f16">
                申报快讯
            </a>
        </li>
    </ul>
    <div id="new-content">
        <div class="tab-pane fade in active" id="policy">
            <ul class="pic-news">
                @{ int picNewsCount = 1;}
                @foreach (var item in Model.PolicyPicArticleList)
                {
                    <li>
                        <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id" title="@Html.DisplayFor(modelItem => item.Title)">
                            @if (!string.IsNullOrEmpty(item.IntroduceImg) && File.Exists(System.IO.Path.Combine(ViewBag.WebRootPath, item.IntroduceImg.TrimStart('/'))))
                            {
                                <img src="~/@item.IntroduceImg.TrimStart('/')" />
                            }
                            else
                            {
                                string imgSrc = "/images/news-img" + picNewsCount + ".jpg";
                                <img src="@imgSrc" />
                            }
                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                            <span>@Html.DisplayFor(modelItem => item.AddTime)</span>
                            <i></i>
                        </a>
                    </li>
                    picNewsCount++;
                }
            </ul>
            <ul class="text-news">
                @foreach (var item in Model.PolicyTextArticleList)
                {
                    <li>
                        <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id" title="@Html.DisplayFor(modelItem => item.Title)">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                        <span>@Html.DisplayFor(modelItem => item.AddTime)</span>

                    </li>
                }
            </ul>
            <a href="/Article/List-2.html" class="more wow hidden-sm hidden-xs" data-wow-delay=".5s">MORE</a>
        </div>
        <div class="clearfix"></div>
        <div class="tab-pane fade" id="notification">
            <ul class="pic-news">
                @{ int picNewsCount1 = 1;}
                @foreach (var item in Model.NotificationPicArticleList)
                {
                    <li>
                        <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id" title="@Html.DisplayFor(modelItem => item.Title)">
                            @if (!string.IsNullOrEmpty(item.IntroduceImg) && File.Exists(System.IO.Path.Combine(ViewBag.WebRootPath, item.IntroduceImg.TrimStart('/'))))
                            {
                                <img src="~/@item.IntroduceImg.TrimStart('/')" />
                            }
                            else
                            {
                                string imgSrc = "/images/news1-img" + picNewsCount1 + ".jpg";
                                <img src="@imgSrc" />
                            }
                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                            <span>@Html.DisplayFor(modelItem => item.AddTime)</span>
                            <i></i>
                        </a>
                    </li>
                    picNewsCount1++;
                }
            </ul>
            <ul class="text-news">
                @foreach (var item in Model.NotificationTextArticleList)
                {
                    <li>
                        <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id" title="@Html.DisplayFor(modelItem => item.Title)">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                        <span>@Html.DisplayFor(modelItem => item.AddTime)</span>

                    </li>
                }
            </ul>
            <a href="/Article/List-3.html" class="more wow hidden-sm hidden-xs" data-wow-delay=".5s">MORE</a>
        </div>
    </div>
</div>
<!--/news-->
<!--link-->
<div id="link" class="container">
    <div id="link-title">
        <h3 class="fl">合作伙伴</h3>
        <h4 class="fl">OUR CUSTOMERS</h4>
    </div>
    <div class="clearfix"></div>
    <ul>
        <li><img src="/images/link_1.png" class="img-responsive" /></li>
        <li><img src="/images/link_2.png" class="img-responsive" /></li>
        <li><img src="/images/link_3.png" class="img-responsive" /></li>
        <li><img src="/images/link_4.png" class="img-responsive" /></li>
        <li><img src="/images/link_5.png" class="img-responsive" /></li>
        <li><img src="/images/link_6.png" class="img-responsive" /></li>
    </ul>
</div>
<!--/link-->
@section Scripts {
    <script>
        $("#news-title>a").attr("href", $(".tab-pane").filter(".active").find("a").attr("href"));
    </script>
}