@model IEnumerable<Models.AdminBug>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserIp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BugInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BugMessage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsShow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsSolve)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EditTime)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserIp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSolve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
