@using System.Configuration
@using Common
@using Models

@model PagedList<ArticleView>

@{
    string webStageDomain = ViewBag.DomainName;
    string articleUrl = webStageDomain + "/Article/Details/";
    ViewBag.Title = "文章列表页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageSpecificStyleSheetIncludes{
    <link rel="stylesheet" href="~/lib/zTree_v3/zTreeStyle/zTreeStyle.css" />
    @*<link href="~/lib/jquery-easyui-1.5/themes/bootstrap/easyui.css" rel="stylesheet" />*@
    <style type="text/css">
        #ClassId {
            margin: 1px;
            width: 150px;
        }
    </style>
}
@section PageSpecificJavascriptIncludes{
    @*<script type="text/javascript" src="~/lib/jquery-easyui-1.5/plugins/jquery.tree.js"></script>
    <script type="text/javascript" src="~/lib/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>*@
    <script src="~/lib/zTree_v3/jquery.ztree.core.js"></script>>
    <script type="text/javascript">

        $(function () {
            //articleClassBind(0);
            $(".dataTables_filter .validatebox-readonly").removeAttr("readonly");

            @*if ( @ViewBag.ClassId !=null && @ViewBag.ClassId >0)
            {
                $('#ClassId').combotree('setValue', @ViewBag.ClassId);
            }*@
        });

        //绑定文章类别(suffix为绑定控件ID号的后缀)
        //function articleClassBind(classid) {
        //    var treedata;
        //    $('#ClassId').combotree({
        //        url: "../../ArticleClass/GetAllArticleClassTreeJson?classid=" + classid,
        //        onlyLeafCheck: true,
        //        checkbox: false,
        //        disabled: false,
        //        readonly: false,
        //        loadFilter: function (data) {
        //            treedata = data;
        //            return data;
        //        },
        //        //选择树节点触发事件
        //        onSelect: function (node) {
        //            //返回树对象
        //            var tree = $(this).tree;
        //            //选中的节点是否为叶子节点,如果不是叶子节点,清除选中
        //            var isLeaf = tree('isLeaf', node.target);
        //            if (!isLeaf) {
        //                var $tree = $('#ClassId');
        //                $tree.tree({
        //                    url: "../../ArticleClass/GetAllArticleClassTreeJson?classid=" + classid,
        //                    onlyLeafCheck: true,
        //                    checkbox: false,
        //                    disabled: false,
        //                    readonly: false
        //                });
        //                //var node = $tree.tree('find',2);
        //                //var childrenNodes = $tree.tree('getChildren',node.target);
        //                //alert("有下级目录时请选择下级目录!");
        //                //var aa=$('#ClassId').tree("getRoots");
        //                //var childnode = $('#ClassId').tree("getChildren", node.target);
        //                alert("有下级目录时请选择下级目录!");
        //                //清除选中
        //                $('#ClassId').combotree('clear');
        //                //$('#ClassId').combotree("select", childnode.target);
        //            }
        //        }
        //    });
        //}

        var zdm = zTreeDropdownMenu;
        zdm.setting.async.dataFilter = function filter(treeId, parentNode, childNodes) {
            if (!childNodes) return null;
            for (var i = 0, l = childNodes.length; i < l; i++) {
                childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
            }
            var firstNode = {
                id: -1,
                name: "所有文章"
            };
            childNodes.unshift(firstNode);
            return childNodes;
        };
        zdm.init("classTree");
        @{
            var classId = (ViewBag.ClassId != null && ViewBag.ClassId > 0) ? ViewBag.ClassId : -1;
            }
        zdm.setClassId(@classId);
    </script>
}
<div class="row-fluid">
    <div class="span4">
        <div>
            <a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i> 删除</a>
            <a class="btn blue thickbox" title='添加新文章' href="@Url.Action("Create")?TB_iframe=true&height=500&width=850"><i class="icon-plus icon-white"></i> 新增</a>
        </div>
    </div>
    <div class="span8">
        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "search" }))
        {
            <div class="dataTables_filter">
                <label>
                    <button type="submit" class="btn">搜索 <i class="icon-search"></i></button>
                </label>
                <label>
                    <span>文章标题：</span>
                    @Html.TextBox("Title", "", new { @class = "m-wrap small" })
                </label>
                <label>
                    <span>文章类别：</span>
                    <input id="classSel" type="text" readonly value="" class="zTreeSel" />
                    &nbsp;<a id="menuBtn" href="#" class="zTreeSel zTree-combo-arrow"></a>
                    @Html.Hidden("ClassId", "")
                    @*<select id="ClassId" name="ClassId" class="easyui-combotree" style="width: 220px;">
            <option value="所有文章" selected="selected"></option>
        </select>*@
                </label>
            </div>
        }
    </div>
</div>

@using (Html.BeginForm("Delete", "Article", FormMethod.Post, new { id = "mainForm" }))
{
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th style="width: 8px;">
                    <input type="checkbox" id="checkall" class="group-checkable" />
                </th>
                <th>
                    文章标题
                </th>
                <th>
                    文章类别
                </th>
                <th>
                    添加时间
                </th>
                <th>
                    浏览次数
                </th>
                <th style="text-align:center">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="checkboxes" name='ids' value='@m.Id' />
                    </td>
                    <td style="max-width:480px;">
                        <a href="@articleUrl@m.Id" target="_blank">@m.Title</a>
                    </td>
                    <td>
                        @m.ArticleClassName
                    </td>
                    <td>
                        @m.AddTime.Value.ToString("yyyy-MM-dd HH:mm:ss")
                    </td>
                    <td>
                        @m.LookCount
                    </td>
                    <td style="text-align:center">
                        <a class="btn mini purple thickbox" title='编辑文章内容' href="@Url.Action("Edit", new { id = m.Id })?TB_iframe=true&height=600&width=950">
                            <i class="icon-edit"></i>
                            编辑
                        </a>
                        @*<a class="btn mini purple" title='删除此篇文章' href="@Url.Action("Delete", new { id = m.Id })">*@
                        <a class="btn mini purple" id="delSingle" title='删除此篇文章' href="javascript:if(confirm('确实要删除该内容吗?'))location='@Url.Action("Delete", new { id = m.Id })'">
                            <i class="icon-edit"></i>
                            删除
                        </a>
                        <input type="hidden" value="@m.Id" name="Id" id="Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="dataTables_paginate paging_bootstrap pagination">
    @await Component.InvokeAsync("Pagination")
</div>
<div id="zTreeDropdownMenu" class="zTreeDropdownMenu">
    <ul id="classTree" class="ztree"></ul>
</div>