@model Models.Article

<!--content-->
<section class="content">
    <section class="container">
        @Html.Partial("LeftMenuPartial")
        <section class="services-content pull-left">
            <section class="crumb">
                <img src="~/images/icon-home.png" alt="首页" />&nbsp;&nbsp;<a href="/">首页</a> > 行业资讯
            </section>
            <section class="news">
                <section class="news-title">
                    @Html.DisplayFor(model => model.Title)
                </section>
                <section class="news-time">
                    @Model.AddTime.Value.ToString("yyyy-MM-dd")&nbsp;&nbsp;
                    @Html.DisplayFor(model => model.Origin)
                </section>
                <section class="news-content">
                    @Html.Raw(Model.Content)
                </section>
            </section>
        </section>
    </section>
</section>
<!--content-->
@section Scripts {
<environment include="Development">
    <script src="~/js/Json/LeftNewsMenu.js"></script>
    <script src="~/js/leftNewsMenu.js"></script>
    <script src="~/js/timeStyle.js"></script>
    <script src="~/js/base-loading.js"></script>
    <script>
        var currentNewsMenu = leftNewsMenu.find(function (obj) {
            return @Model.ClassId === obj.id;
        });
        if (@Model.ClassId && @Model.ClassId > 0 && currentNewsMenu) {
            $(".crumb").append(" > " + currentNewsMenu.menuTitle);
        }
    </script>
</environment>
<environment exclude="Development">
    <script src="~/js/leftNewsMenu.min.js" asp-append-version="true"></script>
    <script src="~/js/timeStyle.min.js" asp-append-version="true"></script>
    <script src="~/js/base-loading.min.js" asp-append-version="true"></script>
</environment>
}
