@model IEnumerable<Models.ArticleView>
<!--content-->
<section class="content">
    <section class="container">
        @Html.Partial("LeftMenuPartial")
        <section class="services-content pull-left">
            <section class="crumb">
                <img src="~/images/icon-home.png" alt="首页" />&nbsp;&nbsp;<a href="/">首页</a> > 行业资讯
            </section>
            <section class="content-list">
                @foreach (var item in Model)
                {
                    <ul>
                        <li class="calendar">
                            @Html.DisplayFor(modelItem => item.AddTime.Value)
                        </li>
                        <li class="content-title">
                            <div>
                                <a href="/Article/Details.html?id=@Html.DisplayFor(modelItem => item.Id)" title="@Html.DisplayFor(modelItem => item.Title)">@Html.DisplayFor(modelItem => item.Title)</a>
                            </div>
                            <div class="summary" title="@Html.DisplayFor(modelItem => item.Introduce)">
                                @Html.DisplayFor(modelItem => item.Introduce)
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                }
            </section>
            <div class="pagination text-center">
                @await Component.InvokeAsync("Pagination")
            </div>
        </section>
    </section>
</section>
<!--content-->
@section Scripts {
    <environment include="Development">
        <script src="~/js/Json/LeftNewsMenu.js"></script>
        <script src="~/js/leftNewsMenu.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/leftNewsMenu.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(function () {
            var timeObjs = $(".calendar")
            timeObjs.each(function (i, e) {
                var addTime = new Date($(e).text())
                var str = '<div class="calendar-day">' + addTime.Format("dd")
                str += '</div><div class="calendar-date">' + addTime.Format("yyyy-MM")
                str += '</div>'
                $(e).empty()
                $(e).append(str)
            })
        })
    </script>
}