@model IEnumerable<Models.ArticleView>
@{ 
    ViewBag.Title = "行业资讯";
}
<!--content-->
<section class="content">
    <section class="container">
        @Html.Partial("LeftMenuPartial")
        <section class="services-content pull-left">
            <section class="crumb">
                <img src="~/images/icon-home.png" alt="首页" />&nbsp;&nbsp;<a href="/">首页</a> > 行业资讯
            </section>
            <section class="content-list">
                @if (Model.Count() <= 0) {
                    <h3 class="text-center">暂无内容</h3>
                }
                @foreach (var item in Model)
                {
                    <ul>
                        <li @*class="calendar"*@>
                            @Html.DisplayFor(modelItem => item.AddTime.Value, "ShortDate")
                        </li>
                        <li class="content-title">
                                <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id" title="@Html.DisplayFor(modelItem => item.Title)">@Html.DisplayFor(modelItem => item.Title)</a>
                            @*<div class="summary hidden-sm hidden-xs hidden-md" title="@Html.DisplayFor(modelItem => item.Introduce)">
                                @Html.DisplayFor(modelItem => item.Introduce)
                            </div>*@
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                }
            </section>
            <div class="pagination text-center">
                @await Component.InvokeAsync("Pagination")
            </div>
        </section>
    </section>
</section>
<!--content-->
@section Scripts {
<environment include="Development">
    <script src="~/js/Json/LeftNewsMenu.js"></script>
    <script src="~/js/leftNewsMenu.js"></script>
    @*<script src="~/js/timeStyle.js"></script>*@
    <script src="~/js/base-loading.js"></script>   
</environment>
<environment exclude="Development">
    <script src="~/js/leftNewsMenu.min.js" asp-append-version="true"></script>
    <script src="~/js/timeStyle.min.js" asp-append-version="true"></script>
    <script src="~/js/base-loading.min.js" asp-append-version="true"></script>
</environment>
}